@model ECOMMERCE_Project_ASPNET.Models.Categorie


@{
    ViewBag.Title = "Create";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .MakeWide {
            width: 200px;
            height: 30px;
        }
    </style>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin-top:25px;">
        <h2 class="text-center" style="font-size: 5rem; margin-bottom: 25px; color: #eeb951;">Category Form</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">


                <!--Form with header-->

                @using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    <div class="card" style="border-color: #eeb951; border-radius: 25px">
                        <div class="card-header p-0">
                            <div class=" text-center " style="background-color: #eeb951; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                                <h3 style="font-size:3rem;"> Products</h3>
                                <p class="m-0" style="font-size:2rem;">Add New Category</p>
                            </div>
                        </div>
                        <div class="card-body p-3">

                            <!--Body-->


                            

                            <div class="form-group" style="margin-left: 85px; margin-top: 20px; margin-bottom: 15px;">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"></div>
                                    </div>
                                    <input type="text" class="form-control" name="NomCat" id="NomCat" placeholder="Enter Category Name " style="height: 55px; font-size: 2rem;" required>
                                </div>
                            </div>

                            


                            <div class="text-center" style="margin-left:95px;">
                                <input type="submit" style="font-size: 2rem; background-color: #eeb951; border-radius: 15px;margin-bottom:20px;" value="Create" class="btn  btn-block  py-2 " />
                            </div>
                        </div>

                    </div>
                }

                <!--Form with header-->


            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}